html{
    background: royalblue;
}

h1{
    color: white;
    border: 2px solid aqua;
    padding-left: 50px;
}

h2{
    color: white;
    padding-left: 50px;
}

h3{
    color: white;
    padding-left: 140px;
}


table, tr, td, th{
    border-collapse: collapse;
    border: 1px solid black;
    padding: .4cm;
    color: white;
}

th{
    background: black;
    color: white;
}

#earth{
    border-radius: 80%;
    position: absolute;
    top: 6em;
    right: 350px;
    width: 350px;
}

#saturn{
    border-radius: 80%;
    position: absolute;
    top: 34em;
    right: 275px;
    width: 500px;
}

#uranus{
    border-radius: 80%;
    position: absolute;
    top: 56em;
    right: 350px;
    width: 350px;
}

#neptune{
    border-radius: 80%;
    position: absolute;
    top: 82em;
    right: 350px;
    width: 350px;
}

